@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200&display=swap');


:root{
  --primary-color: #0401ad;
  --primary-color-alt: #2e2bbb;
  --alt-blue-color: #cdccef;
  --light-color: #fbfbfb;
  --header-color: #fff;
  --light-color-alt: rgb(247, 243, 243);
  --text-dark: #16161a; 
  --input-color: #646466;
  --shadow: rgba(0, 0, 0, 0.06);
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--text-dark);
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.6rem;
  --font-size-lg: 2.4rem;
  --font-size-xl: 4.2rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
  /* font-size: 10px; */
  font-size: 62.5%;
  overflow: hidden;
}

body{
 font-family: Poppins, Arial, Helvetica, sans-serif ;
 font-size: var(--font-size-md);
 color: var(--text-dark);
 background-color:var(--light-color);
 transition: background-color .25s, color .25s ;
}

ul{
 list-style: none;
}

a{
 text-decoration: none;
 color: var(--text-dark);
}

img{
  max-width: 100%;
  display: block;
}

input,
button{
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

i{
  font-size: var(--font-size-lg);
  color: var(--background-color-dark);
}

body.dark-theme{
  --light-color: #16161a;
  --text-dark: #fbfbfb;
  --light-color-alt: #2c2c2c;
  --header-color: #2c2c2c;
  --input-color: white;
  --shadow: rgba(255, 255, 255, 0.06);
}

.container{
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.flex{
  display: flex;
}

.navbar ul{
  display: flex;
  align-items: center;
}

.grid{
  display: grid;
}

.place-items-center{
  display: inline-flex;
  align-items: center;
  justify-items: center;
}

.sm-hidden{
  display: none;
}

.list-items{
  margin: 2rem;
}

.list-link:hover, 
i:hover{
  color: --;
}

a:focus{
  color: var(--primary-color-alt);
}

/* Header */
.header{ 
  background-color: var(--header-color);
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.menu{
  position: absolute;
  top: 10.2rem;
  right: .3rem;
  width: 23rem;
  padding: 1.5rem;
  background-color: var(--light-color-alt);
  opacity: 0;
  transform: scale(0);
  transition: opacity .25s ease-in;
}

.list{
  display: flex;
  align-items: center;
}

.menu > .list{
  flex-direction: column;
}

.close-menu-icon{
  display: none;
}

.btn{
  cursor: pointer;
  padding: 0 1.5rem;
}

.moon-icon{
  display: none;
}

.dark-theme .sun-icon{
  display: none;
}

.dark-theme .moon-icon{
  display: block;
}

/* Header Javascript Styles */
.header.activated{
  box-shadow: 0 1px 3.5rem rgba(255, 255, 255, 0.6);
}

.menu.activated{
  box-shadow: 1px 1px 1rem rgba(255, 255, 255, 0.6);
  opacity: 1;
  transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
  display: none;
}

.menu-toggle-icon.activated .close-menu-icon{
  display: block;
}

/* Main Area */

main h1{
  font-size: var(--font-size-xl);
  font-weight: 600;
  text-transform: capitalize;
  line-height: 5.6rem;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

main h1 span{
  color: var(--primary-color-alt);
}

main p{
  font-size: var(--font-size-md);
  line-height: 2.5rem;
  margin-bottom: 2.4rem;
}


main button svg{
  background-color: var(--primary-color);
  border-radius: 8px ;
}

main img{
  height: 315px;
  margin: 0 auto;
  animation: slideInFromBottom 1s ease-in;
}

/* Search Form */
.search-form{
  width: 100%;
}

.form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--input-color);
  border-radius: 8px;
  width: 36rem;
  margin-bottom: 2.4rem;
}

.form button{
  margin-top: 0.6rem;
  margin-right: -0.6rem;
  
}

.form input{
  width: 100%;
  padding-left: 1.5rem;
}

/* Library info */

.library-info{
  margin-bottom: 3rem;
  flex-direction: column;
}

.card{
  width: 40rem;
  height: 12rem;
  margin: 0 auto 1.6rem auto;
  font: inherit;
  background-color: var(--light-color);
  box-shadow: 0px 2px 20px var(--shadow) ;
  border-radius: 7px;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.info{
  margin-top: 1.5rem;
}

.card .info p:first-child{
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.lib-stat{
  margin-left: 20px;
  animation:slideInFromRight  7s linear 2s infinite forwards ;
}

.lib-stat span{
  font-weight: 600;
}

.lib-stat p{
  margin: 0 1.0rem;
  font-size: var(--font-size-sm);
  margin-bottom: 3.2rem;
}

/* Onboarding */
.onboarding h2{
  font-size: var(--font-size-lg);
  margin-bottom: 0.8rem;
}

.onboarding p{
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}

.need-help{
  background-color: var(--alt-blue-color);
  padding: 2.4rem;
  border-radius: 8px;
  margin-bottom: 3.2rem;
  color: #16161a;
}

.need-help h3{
  font-weight: 400;
  font-size: var(--font-size-md);
  color: var(--primary-color-alt);
  margin-bottom: 1.6rem;
}

.need-help p{
  font-size: var(--font-size-md);
  margin-bottom: 2.4rem;
  line-height: 3.2rem;
}

.need-help button{
  font-size: var(--font-size-sm);
  color: white;
  background-color: var(--primary-color);
  padding: 6px 12px;
  border-radius: 4px;
}

.rules{
  margin-bottom: 3.2rem;
}

.rules h3{
  margin-bottom: 1.6rem;
}

.rules p{
  margin-bottom:0.8rem;
}

.rules li{
  background: url(/vector.png) left center no-repeat;
  background-size: 15px 15px;
  padding-left: 20px;
  padding-top: 29px;
  margin-bottom: 0.8rem;
  line-height: 3.2rem;
}

/* Categories */

.categories{
  margin-bottom: 4rem;
}

.categories .heading{
  margin-left: 3rem;
}

.categories p{
  display: inline-block;
  padding-right: 1.1rem;
  margin-bottom: 0.8rem;
}

.books-categories{
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
  margin: 0 auto;
  filter: drop-shadow(0px 2px 38px rgba(0, 0, 0, 0.1));
}

.books-categories div img{
  height: 22.5rem;
  width: 16.3rem;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.books-categories .flex{
  flex-direction: column;
  align-items: center;
}

.books-categories div button{
  font-size: var(--font-size-sm);
  margin-top: -4rem;
  font-weight: 500;
  background-color: var(--light-color);
  border-radius: 4px;
  padding: 4px ;
  width: 131px;
}

/* Footer */
.footer,
.footer a{
  background-color: var(--primary-color);
  color: white;
}

.footer{
  padding: 24px 0 24px 30px;
}

.footer h3{
  margin-bottom: 2.4rem;
}

.footer p{
  margin-bottom: 1.2rem;
}

.footer .grid div{
  margin-bottom: 7.7rem;
}

.copyright {
  text-align: center;
}

/* Animations */
@keyframes slideInFromRight{
  0%{
    transform: translateX(100%);
  }

  10%{
    transform: translateX(80%);
  }

  20%{
    transform: translateX(60%);
  }

  30%{
    transform: translateX(40%);
  }

  40%{
    transform: translateX(20%);
  }

  50%{
    transform: translateX(0%);
  }

  60%{
    transform: translateX(-20%);
  }

  70%{
    transform: translateX(-40%);
  }
  80%{
    transform: translateX(-60%);
  }
  90%{
    transform: translateX(-80%);
  }
  100%{
    transform: translateX(-100%);
  }
  


}

@keyframes slideInFromBottom{
  0%{
    transform: translateY(100%);
  }

  100%{
    transform: translateY(0);
  }
}


@media (min-width:796px) {
  .container {
      max-width: 160rem;
      margin: 0 auto;
      padding: 0 4rem;
    }

    .btn{
      padding: 4px 12px;
      text-align: center;
      border-radius: 4px;
      margin: 0 1.2rem;
    }

    .sign-up-btn{
      background-color: var(--primary-color);
      color: var(--light-color);
    }

    .login-btn{
      border: 1px solid var(--primary-color);
      color: var(--primary-color);
    }


  .sm-hidden{
    display: block;
  }

  .lg-hidden{
    display:none;
  }

  main .grid{
    grid-template-columns: 1.2fr 1fr;
    
  }

  main img {
     height: 414px;
     margin-top: 2.4rem;
    }

   .text-content{
    margin-top: 20%;
   } 

     .library-info {
      flex-direction: row;
      background-color: var(--light-color);
      box-shadow: 0px 2px 20px var(--shadow);
      border-radius: 7px;
      height: 12.5rem;
      width: max(50% 40rem);
      margin: 3rem;
      padding: 2rem;
     }

    .card {
      margin-top:-1.1rem ;
      padding: 0 1rem;
      box-shadow: none;
      align-items: center;
      background-color:transparent;
     }    

    .card .info p:first-child {
      margin-bottom: 0.1rem;
    }

    .info p{
      font-size: var(--font-size-xsm);
    }

    .lib-stat p {
      font-size: var(--font-size-lg);
    }

    .rules li {
      list-style-image: url(/Vector.png) center left no-repeat;
      padding: 3.6rem 2rem;
    }


    .books-categories {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    footer .grid{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    
}